//====================================
// Global Imports
//====================================


// 1- Import bootstrap framework
@import '1-frameworks/index';

// 2 - Import plugins
@import '2-plugins/index';

// 3 - Import base style, custom variables and mixins
@import '3-base/index';

// 4 - Import modules
@import '4-modules/index';

// 5 - Import layout  styles
@import '5-layout/index';


//====================================
// Additional theme classes
//====================================

// General
body {
    overflow-x: hidden;
    font-size:15px;
}

.tofront {
    position:relative;
    z-index:1;
}
.full-width {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}
a {
    color: $secondary;
}
.c-pointer:hover {
    cursor:pointer;
}
.z-index-1 {
    z-index:1;
}
.z-index-2 {
  z-index:2;
}
// Typography

.display-3 {
    @include media-breakpoint-down(md) {
        font-size: 3.5rem;
    }
    @include media-breakpoint-down(sm) {
        font-size: 2rem;
    }
}


// Margins
.row.gap-y>.col, .row.gap-y>[class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
}
.mt-neg5 {
    margin-top: -5rem;
}
.ml-neg5 {
    margin-left: -5rem;
}

// Heights
@include media-breakpoint-up(md) {
  .h-md-100-v {
    height: 100vh;
  }
  .h-md-100 {
    height: 100vh;
  }
}

@include media-breakpoint-only(xl) {
    .h-xl-300 {
      height: 300px;
    }
    .h-max-380 {
      max-height:380px;
    }
}

@include media-breakpoint-only(xxl) {
  .h-xl-560 {
    max-height:560px;
  }
}

// Mixins
@mixin button-variant-link($color){
    color: $color;
}

// Buttons
.btn-round {
    border-radius: $round-radius !important;
}
.btn {
 @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $btn-line-height, $btn-border-radius);
    &:hover,
    &:focus {
         box-shadow: $box-shadow;
         outline: 0 !important;
    }
    .badge {
        position: absolute;
        top: -.625rem;
        right: -.3125rem;
    }
    position:relative;
}

.btn-lg {
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
}

.btn-sm {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
}

.btn-link {
    &:hover,
    &:focus {
        box-shadow:none;
    }
}

@each $color, $value in $theme-colors {
.btn-link.btn-#{$color} {
    @include button-variant-link($value);
    border-color: transparent;
  }
}
.btn-white {background-color:#fff;}
// Inputs
.input-round {
    border-radius: $round-radius !important;
}
.input-group.input-round {
    input:first-child {border-radius:30px 0 0 30px}
    input:last-child {border-radius:0px 30px 30px 0px}
}


// Nav
.navbar {
    font-weight: $font-weight-normal;
}
.navbar-brand {
    margin-right:2rem;
    font-size:1.25rem;
}
.dropdown-item {
    font-weight: $font-weight-base;
}
.dropdown-menu {
    border:0;
    text-transform:none;
    box-shadow: $box-shadow-lg;
    &:before {
        @include media-breakpoint-up(md) {
            content: '';
            top: -8px;
            position: absolute;
            left: 50px;
            border-top: 16px solid #fff;
            border-left: 16px solid #fff;
            transform: rotate(45deg);
        }
    }
}

// Dark links against a light background
.navbar-light {
  .navbar-brand {
    color: $navbar-light-active-color;

    @include hover-focus {
      color: $navbar-light-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-light-color;
      @include hover-focus {
        color: $navbar-light-hover-color;
      }

      &.disabled {
        color: $navbar-light-disabled-color;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $navbar-light-active-color;
    }
  }

  .navbar-toggler {
    color: $navbar-light-color;
    border-color: $navbar-light-toggler-border-color;
  }

  .navbar-toggler-icon {
    background-image: $navbar-light-toggler-icon-bg;
  }

  .navbar-text {
    color: $navbar-light-color;
    a {
      color: $navbar-light-active-color;

      @include hover-focus {
        color: $navbar-light-active-color;
      }
    }
  }
}


// Jumbotron
.jumbotron {
    background-size:cover;
    padding: 7rem 1rem;
}
@include media-breakpoint-up(lg) {
  .jumbotron-lg-withnav {padding-bottom: calc(10rem - 70px);}
  .jumbotron-lg { padding:10rem 0;}
  .jumbotron-xl { padding:15rem 0;}
  .jumbotron-xl {min-height:100vh;}
  .bottom-align-text-absolute {
    position: absolute;
    bottom: 30px;
      margin:auto;
       left: 0;
      right:0;
  }
}

// Backgrounds
.bg-black { background-color: $black; }
.overlay {
	position: relative;
	.container {
		position: relative;
	}
	&:before {
		content: "";
		display: block;
		height: 100%;
		left: 0;
		top: 0;
		position: absolute;
		width: 100%;
	}
}
.overlay-black {
	&:before {
		background-color: rgba(0, 0, 0, 0.5);
	}
}
.overlay-blue {
	&:before {
		background-color: rgba(23, 29, 90, 0.5);
	}
}
.overlay-red {
	&:before {
		background:linear-gradient(0deg,rgba(44,44,44,.2),rgba(224,23,3,.6));
	}
}
.overlay-blue {
	&:before {
		background-color: rgba(23, 29, 90, 0.5);
	}
}

// SVG fills

@mixin fill-variant($parent, $color) {
  #{$parent} {
    fill: $color !important;
  }
}

@each $color, $value in $theme-colors {
  @include fill-variant(".bg-#{$color}", $value);
}

// Cards
.card {
    .date {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1;
        background: $danger;
        width: 55px;
        height: 55px;
        padding: 12.5px 0;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        color: #FFFFFF;
        font-weight: 700;
        text-align: center;
        -webkti-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
       .day {
            font-size: 16px;
            line-height:1;
            }
            .month {
            font-size: 11px;
            text-transform: uppercase;
            }
        }
    a:hover {text-decoration:none; color: #008000;}
}

.card-pricing .card ul li {
    margin-bottom:1.5rem;
}

// Icons
.iconbox {
    border:1px solid;
    text-align:center;
    display:inline-block;
}
.iconbox.iconsmall {
        width:40px;
        height:40px;
        line-height:40px;
        font-size:1rem;
    }
.iconbox.iconmedium {
        width:60px;
        height:60px;
        line-height:60px;
        font-size:1.8rem;
    }
 .iconbox.iconlarge {
        width:80px;
        height:80px;
        line-height:80px;
        font-size:2.2rem;
    }

// Alerts
@each $color, $value in $theme-colors {
  .alert-#{$color} {
    @include alert-variant(theme-color-level($color, $alert-bg-level), theme-color-level($color, $alert-border-level), #fff);
  }
}

// Lists

ul.list-unstyled li {margin-bottom:.3rem;}

// Login

@include media-breakpoint-up(md) {
    .loginarea {
        z-index: 1111;
    }
}

// Article
article {
    line-height:1.7;
    p, pre, figure, img {
        margin-bottom:2rem;
    }
    blockquote {
        border-left:7px solid $info;
        padding-left:30px;
        margin-left:30px;
        font-style:italic;
    }
}

// AOS
[data-aos] {
  pointer-events: none;
  &.aos-animate {
    pointer-events: auto;
  }
}


// Footer
footer.bg-black a {
    color: $white;
}


// DOCS FOR DEMO ONLY

@include media-breakpoint-up(lg) {
    .fixedsidebar {
        top:0px;
        position: fixed;
        z-index: 1050;
        left: 0;
        overflow-y: overlay;
        width: 260px;
        height: 100%;
        padding: 0 .5rem .5rem 1.5rem;
        border-right: 1px solid #e9ecef;
        background-color: #fff;
       padding-bottom:50px;
    }
    .content-withfixedsidebar {
        margin-left:260px;
        .navbar.fixed-top {margin-left:260px;}
    }
}
#docsarea {
    h1 {text-transform:uppercase;    font-size: 1.6rem;
    font-weight: 600;}
    h2 {text-transform:uppercase;font-size:1.4rem;}
    h1, h2 {
        padding-top:80px;
        padding-bottom:30px;
    }
    h1 + h2 { padding-top: 0; }
}

/* JUST SOME STYLES FOR PRE CODES */
code {    font-size: 14px;
    display: inline-block;
    line-height: 1.5;}

.code-toolbar {position: relative;}
.code-toolbar .toolbar-item a {
    position: absolute;
    top: -10px;
    right: -10px;
    color: #ffffff;
    background:#333;
    padding: 0 8px;
    border-radius: 30px;
    font-size: 13px;
    cursor: pointer;
}
.code-toolbar .toolbar-item a:hover, .code-toolbar .toolbar-item a:focus {    background: #ff5684;color:#fff;}

#docsarea .alert-orange { color:rgba(255,255,255,0.83);}
#docsarea .alert-orange code {color:#b73b3b;}
#docsarea .alert-orange a {color:inherit; border-bottom:1px dashed;}

ul.ascii, ul.ascii ul {  margin-left: 0; padding-left: 0;  list-style: none; }

ul.ascii li { margin: 0; padding: 0; }

/* level 1 */
ul.ascii > li::before { content: ""; }

/* level 2 */
ul.ascii > li > ul > li::before { content: "├──\00a0"; }
ul.ascii > li > ul > li:last-child::before { content: "└──\00a0"; }

/* level 3 */
ul.ascii > li > ul > li > ul > li::before { content: "│\00a0\00a0\00a0├──\00a0"}
ul.ascii > li > ul > li > ul > li:last-child::before { content: "│\00a0\00a0\00a0└──\00a0"; }
ul.ascii > li > ul > li:last-child > ul > li::before { content: "\00a0\00a0\00a0\00a0├──\00a0"}
ul.ascii > li > ul > li:last-child > ul > li:last-child::before { content: "\00a0\00a0\00a0\00a0└──\00a0"; }

/* level 4 */
ul.ascii > li > ul > li > ul > li > ul > li::before { content: "│\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"}
ul.ascii > li > ul > li > ul > li > ul > li:last-child::before { content: "│\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0"; }
ul.ascii > li > ul > li > ul > li:last-child > ul > li::before { content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"}
ul.ascii > li > ul > li > ul > li:last-child > ul > li:last-child::before { content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0"; }
ul.ascii > li > ul > li:last-child > ul > li > ul > li::before { content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"}
ul.ascii > li > ul > li:last-child > ul > li > ul > li:last-child::before { content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0"; }
ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li::before { content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"}
ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li:last-child::before { content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0"; }

/* level 5 */
ul.ascii > li > ul > li > ul > li > ul > li > ul > li::before { content: "│\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"}
ul.ascii > li > ul > li > ul > li > ul > li > ul > li:last-child::before { content: "│\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0"; }
ul.ascii > li > ul > li > ul > li > ul > li:last-child > ul > li::before { content: "│\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"}
ul.ascii > li > ul > li > ul > li > ul > li:last-child > ul > li:last-child::before { content: "│\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0"; }
ul.ascii > li > ul > li > ul > li:last-child > ul > li > ul > li::before { content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"}
ul.ascii > li > ul > li > ul > li:last-child > ul > li > ul > li:last-child::before { content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0"; }
ul.ascii > li > ul > li > ul > li:last-child > ul > li:last-child > ul > li::before { content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"}
ul.ascii > li > ul > li > ul > li:last-child > ul > li:last-child > ul > li:last-child::before { content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0"; }
ul.ascii > li > ul > li:last-child > ul > li > ul > li > ul > li::before { content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"}
ul.ascii > li > ul > li:last-child > ul > li > ul > li > ul > li:last-child::before { content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0"; }
ul.ascii > li > ul > li:last-child > ul > li > ul > li:last-child > ul > li::before { content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"}
ul.ascii > li > ul > li:last-child > ul > li > ul > li:last-child > ul > li:last-child::before { content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0"; }
ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li > ul > li::before { content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"}
ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li > ul > li:last-child::before { content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0"; }
ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li::before { content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"}
ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child::before { content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0"; }

/* level 6 */
ul.ascii > li > ul > li > ul > li > ul > li > ul > li > ul > li::before { content: "│\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"}
ul.ascii > li > ul > li > ul > li > ul > li > ul > li > ul > li:last-child::before { content: "│\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0"; }
ul.ascii > li > ul > li > ul > li > ul > li > ul > li:last-child > ul > li::before { content: "│\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"}
ul.ascii > li > ul > li > ul > li > ul > li > ul > li:last-child > ul > li:last-child::before { content: "│\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0"; }
ul.ascii > li > ul > li > ul > li > ul > li:last-child > ul > li > ul > li::before { content: "│\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"}
ul.ascii > li > ul > li > ul > li > ul > li:last-child > ul > li > ul > li:last-child::before { content: "│\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0"; }
ul.ascii > li > ul > li > ul > li > ul > li:last-child > ul > li:last-child > ul > li::before { content: "│\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"}
ul.ascii > li > ul > li > ul > li > ul > li:last-child > ul > li:last-child > ul > li:last-child::before { content: "│\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0"; }
ul.ascii > li > ul > li > ul > li:last-child > ul > li > ul > li > ul > li::before { content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"}
ul.ascii > li > ul > li > ul > li:last-child > ul > li > ul > li > ul > li:last-child::before { content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0"; }
ul.ascii > li > ul > li > ul > li:last-child > ul > li > ul > li:last-child > ul > li::before { content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"}
ul.ascii > li > ul > li > ul > li:last-child > ul > li > ul > li:last-child > ul > li:last-child::before { content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0"; }
ul.ascii > li > ul > li > ul > li:last-child > ul > li:last-child > ul > li > ul > li::before { content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"}
ul.ascii > li > ul > li > ul > li:last-child > ul > li:last-child > ul > li > ul > li:last-child::before { content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0"; }
ul.ascii > li > ul > li > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li::before { content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"}
ul.ascii > li > ul > li > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child::before { content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0"; }
ul.ascii > li > ul > li:last-child > ul > li > ul > li > ul > li > ul > li::before { content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"}
ul.ascii > li > ul > li:last-child > ul > li > ul > li > ul > li > ul > li:last-child::before { content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0"; }
ul.ascii > li > ul > li:last-child > ul > li > ul > li > ul > li:last-child > ul > li::before { content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"}
ul.ascii > li > ul > li:last-child > ul > li > ul > li > ul > li:last-child > ul > li:last-child::before { content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0"; }
ul.ascii > li > ul > li:last-child > ul > li > ul > li:last-child > ul > li > ul > li::before { content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"}
ul.ascii > li > ul > li:last-child > ul > li > ul > li:last-child > ul > li > ul > li:last-child::before { content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0"; }
ul.ascii > li > ul > li:last-child > ul > li > ul > li:last-child > ul > li:last-child > ul > li::before { content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"}
ul.ascii > li > ul > li:last-child > ul > li > ul > li:last-child > ul > li:last-child > ul > li:last-child::before { content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0"; }
ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li > ul > li > ul > li::before { content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"}
ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li > ul > li > ul > li:last-child::before { content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0"; }
ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li > ul > li:last-child > ul > li::before { content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"}
ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li > ul > li:last-child > ul > li:last-child::before { content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0"; }
ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li > ul > li::before { content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"}
ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li > ul > li:last-child::before { content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0"; }
ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li::before { content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"}
ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child::before { content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0"; }

// END DOCS FOR DEMO ONLY
$background: #f1f5f8;
body {
  background: $background;
}

.navbar{
  background-color: white !important;
}
 #customBorder{
   border-top: 5px #00A900 solid !important;

}
.dropdown-menu::before{
  border-top: 16px solid #ffffff !important;
  transform: rotate(135deg) !important;
  border-left: 16px #00A900 solid !important;
  margin-left: 1.25em !important;
  content:"";
}

@media only screen and (max-width: 991px) {
  .dropdown-menu::before{

    margin-top: 3.40em;
    margin-left: 21.5em!important;

  }
}

@media only screen and (max-width: 767px) {
  .dropdown-menu::before{

    border-top: 16px solid #fff !important;
    transform: rotate(135deg) !important;
    border-left: 16px #00A900 solid !important;
    margin-left: 8.0em !important;
    position: absolute;
    content: "";
    margin-top: -1.0em;

  }
}

@media only screen and (max-width: 900px) {
  .navbar {
    text-align: center;
  }
}

@media only screen and (min-width: 1000px) {
  #logo{
   max-width: 100% !important;
  }
}


@media only screen and (min-width: 1930px){
  #dropdown{ padding-left: 50em !important;
    margin-left: 15em!important;}

}

@media only screen and (min-width: 2240px){
  #dropdown{ padding-left: 50em !important;
    margin-left: 28em!important;}

}



@media only screen and(max-width: 900px)
{
  #avatar {
    max-width: 30%;
  }
}

@media only screen and(max-width: 1400px)
{
  #avatar {
    max-width: 70%;
  }
}

@media only screen and(min-width: 1400px)
{
  #avatar {
    max-width: 85%;
  }
}
@media only screen and(max-width: 900px)
{
  #footer {
    max-height: 70%;
  }
}

@media only screen and(max-width: 1400px)
{
  #footer {
    max-height: 60%;
  }
}

@media only screen and(min-width: 1400px)
{
  #footer {
    max-height: 10%;
  }
}
#cardId{
  margin-top: -20px;
}

@media only screen and(max-width: 900px)
{
  .banner {
    max-width: 80%;
  }
}

@media only screen and(max-width: 1400px)
{
  .banner {
    max-width: 50%
  }
}

@media only screen and(min-width: 1400px)
{
  .banner {
    max-width: 40%;
  }
}

@media only screen and(max-width: 1400px)
{
  .logoIt {
    height: 1.5em;
  }
}

@media only screen and(min-width: 1400px)
{
  .logoIt {
    height: 1.5em;
  }
}

html {
  scroll-behavior: smooth;
}


a:hover {
  color: #008000 !important;
  opacity:0.5;
  background-color: transparent !important;
}


.rectangle{
  height: 100px;
  width: 100px;
  background-color: white;
  position: absolute;
  z-index: -1;
  margin-top:2em;
}

.rectangle2{
  height: 100px;
  width: 100px;
  background-color: green;
  margin-left: 2em;
  display: flex;
  justify-content:center;
  align-items: center;
}

.pagination li {
  display:none;
}
.eventsView {
  list-style-type: none;
}



@media only screen and(min-width: 200px) {
  .rectangle3{
    height: 40px;
    width: 40px;
    background-color: green;
    position: absolute;
    z-index: -1;
    margin-bottom: 10em;
    left: 38%;
    top: -9px;
  }
}
@media only screen and(min-width: 400px) {
  .rectangle3{
    height: 40px;
    width: 40px;
    background-color: green;
    position: absolute;
    z-index: -1;
    margin-bottom: 10em;
    left: 40%;
    top: -9px;
  }
}

@media only screen and(min-width: 550px) {
  .rectangle3{
    height: 40px;
    width: 40px;
    background-color: green;
    position: absolute;
    z-index: -1;
    margin-bottom: 10em;
    left: 45%;
    top: -9px;
  }
}


@media only screen and(min-width: 980px) {
  .rectangle3{
    height: 40px;
    width: 40px;
    background-color: green;
    position: absolute;
    z-index: -1;
    margin-bottom: 10em;
    left: 43%;
    top: -9px;
  }
}

@media only screen and(min-width: 1000px) {
  .rectangle3{
    height: 40px;
    width: 40px;
    background-color: green;
    position: absolute;
    z-index: -1;
    margin-bottom: 10em;
    left: 40%;
    top: -9px;
  }
}

@media only screen and(min-width: 1170px) {
  .rectangle3{
    height: 40px;
    width: 40px;
    background-color: green;
    position: absolute;
    z-index: -1;
    margin-bottom: 10em;
    left: 41%;
    top: -9px;
  }
}

@media only screen and(min-width: 1270px) {
  .rectangle3{
    height: 40px;
    width: 40px;
    background-color: green;
    position: absolute;
    z-index: -1;
    margin-bottom: 10em;
    left: 45%;
    top: -9px;
  }
}


@media only screen and(min-width: 300px)
{
  #figure {
    padding-left: 5em;
  }
}

@media only screen and(min-width: 450px)
{
  #figure {
    padding-left: 9em;
  }
}

@media only screen and(min-width: 550px)
{
  #figure {
    padding-left: 13em;
  }
}

@media only screen and(min-width: 710px)
{
  #figure {
    padding-left: 16em;
  }
}

@media only screen and(min-width: 900px)
{
  #figure {
    padding-left: 25em;
  }
}


@media only screen and(min-width: 992px)
{
  #figure {
    padding-left: 0em;
  }
}


@media only screen and(min-width: 1600px)
{
  #figure {
    padding-left: 9em;
  }
}

@media only screen and(max-height: 993px)
{
  #buttons {
    text-align: center;
  }
}

@media only screen and(max-height: 993px)
{
  #flower {
    text-align: center;
  }
}

.greenHover:hover{
  i{
    color: white !important;
  }

  background-color: #00A900 !important;
}

@media only screen and (min-width: 200px ) {
  #flowers{
    position: absolute;
    z-index: -1;
    bottom: 15%;
    left: 8%;
    width: 30% !important;
  }
}

@media only screen and (min-width: 400px ) {
  #flowers{
    position: absolute;
    z-index: -1;
    bottom: 10%;
    left: 1%;
    width: 40% !important;
  }
}


@media only screen and (min-width: 580px){
  #flowers{
    position: absolute;
    z-index: -1;
    bottom: -15%;
    margin-right: 2em;
    width: 30% !important;
    left: 18%;
  }
}

@media only screen and (min-width: 993px) {
  #flowers{
    position: absolute;
    z-index: -1;
    bottom: -70%;
    width: 80% !important;
    margin-left: -3em;
  }
}
.accordion-menu > a {
  display: block;
  position: relative;
}
.accordion-menu > a:after {
  content: "\f078"; /* fa-chevron-down */
  font-family: 'FontAwesome';
  position: absolute;
  right: 0;
}
.accordion-menu > a[aria-expanded="true"]:after {
  content: "\f077"; /* fa-chevron-up */
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.topbutton {
  bottom: 5em !important;
}

blockquote {
  font-weight: 100;
  font-size: 2rem;
  line-height: 1.4;
  position: relative;
  margin: 0;
  padding: .5rem;
  border: 2px solid #DCE3E6;
  border-radius: 1.5rem;
}

blockquote:before,
blockquote:after {
  position: absolute;
  width: 6rem;
  height: 7rem;
}

blockquote:before {
  content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' width='23.17' height='18.059' viewBox='0 0 23.17 18.059'> <path id='icons8_quote_left' d='M9.416,5,3,13.621v6.863a2.594,2.594,0,0,0,2.574,2.574h5.149A2.594,2.594,0,0,0,13.3,20.484V15.335a2.594,2.594,0,0,0-2.574-2.574H6.849L12.626,5ZM22.263,5l-6.391,8.586v6.861a2.594,2.594,0,0,0,2.574,2.574H23.6a2.594,2.594,0,0,0,2.574-2.574V15.3A2.594,2.594,0,0,0,23.6,12.723H19.721l1.037-1.394L25.471,5ZM18.446,15.3H23.6v5.149H18.446V15.3Zm-12.872.038h5.149v5.149H5.574Z' transform='translate(-3 -5)' fill='#dce3e6'/> </svg> ");
  left: -3rem;
  top: 3.4rem;
}

blockquote:after {
  content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='23.17' height='18.059' viewBox='0 0 23.17 18.059'><path id='icons8_quote_left' d='M19.754,23.059l6.416-8.621V7.574A2.594,2.594,0,0,0,23.6,5H18.446a2.594,2.594,0,0,0-2.574,2.574v5.149A2.594,2.594,0,0,0,18.446,15.3h3.874l-5.777,7.761Zm-12.847,0L13.3,14.473V7.612a2.594,2.594,0,0,0-2.574-2.574H5.574A2.594,2.594,0,0,0,3,7.612v5.149a2.594,2.594,0,0,0,2.574,2.574H9.449L3.7,23.059Zm3.816-10.3H5.574V7.612h5.149v5.149ZM23.6,12.723H18.446V7.574H23.6Z' transform='translate(-3 -5)' fill='#dce3e6'/></svg>");
  right: -3rem;
  bottom: -2rem;
}

.trapezoidbutton {
  clip-path: polygon(0 0, 84% 0, 100% 100%, 0% 100%);
}

.trapezoidbuttonOther {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 16% 100%);
}

.changeCol:hover {
  background-color: transparent !important;
  .textCol{
    color: black !important;
  }
}



.lineargradient{
  background: rgb(0,128,0)!important;
  background: linear-gradient(90deg, rgba(0,128,0,1) 31%, rgba(0,169,0,1) 100%)!important;
}

.lineargradient2{
  background: rgb(0,128,0)!important;
  background: linear-gradient(270deg, rgba(0,128,0,1) 31%, rgba(0,169,0,1) 100%)!important;
}

@media only screen and (min-width: 250px ) {
  #kursy{
    background-position: right -10em top -5em;
  }
}

@media only screen and (min-width: 550px ) {
  #kursy{
    background-position: right -15em top -6em;
  }
}

@media only screen and (min-width: 650px ) {
  #kursy{
    background-position: right -21em top -8em;
  }
}

@media only screen and (min-width: 790px ) {
  #kursy{
    background-position: right -20em top -10em;
  }
}


@media only screen and (min-width: 1100px){
  .liscie{
    bottom: 20%;
    z-index: -1;
  }
}

@media only screen and (min-width: 1500px) {
  .liscie{
    bottom: 20%;
    z-index: -1;
  }
}



@media only screen and (min-width: 250px ) {
  .liscie{
    bottom: 30%;
    z-index: -1;
  }
}

@media only screen and (min-width: 550px ) {
  .liscie{
    bottom: 20%;
    z-index: -1;
  }
}

@media only screen and (min-width: 650px ) {
  .liscie{
    bottom: 20%;
    z-index: -1;
  }
}

@media only screen and (min-width: 790px ) {
  .liscie{
    bottom: 35%;
    z-index: -1;
  }
}

@media only screen and (min-width: 1000px ) {
  .liscie{
    bottom: 30%;
    z-index: -1;
  }
}

@media only screen and (min-width: 1400px) {
  .liscie{
    bottom: 20%;
    z-index: -1;
  }
}



@media only screen and (min-width: 200px) {
  .figurepentagon{
    width: 80%;
    height: 110%;
    padding-bottom: 40%;
    clip-path: polygon(0 80%, 50% 100%, 100% 80%, 100% 0, 0 0);
    background: rgb(0,128,0)!important;
    background: linear-gradient(90deg, rgba(0,128,0,1) 31%, rgba(0,169,0,1) 100%)!important;
  }
}

@media only screen and (min-width: 1000px) {
  .figurepentagon{
    width: 70%;
    height: 70%;
    clip-path: polygon(0 80%, 50% 100%, 100% 80%, 100% 0, 0 0);
    background: rgb(0,128,0)!important;
    background: linear-gradient(90deg, rgba(0,128,0,1) 31%, rgba(0,169,0,1) 100%)!important;
  }
}



@media only screen and (min-width: 200px) {
  .liscie3{
    z-index: 0;
    position: absolute;
    bottom: -15%;
  }
}

@media only screen and (min-width: 1100px) {
  .liscie3{
    z-index: -1;
    position: absolute;
    bottom: 26%;
  }
}
@media only screen and (min-width: 900px) {
  .liscie3{
    z-index: -1;
    position: absolute;
  }
}



@media only screen and (min-width: 200px) {
  .card-img-top {
    width: 100%;
    height: 35vw;
    object-fit: cover;
  }
}


@media only screen and (min-width: 900px) {
  .card-img-top {
    width: 100%;
    height: 11vw;
    object-fit: cover;
  }
}

.roundimg{
  border-radius: 3%
}

@media only screen and (min-width: 400px) {
  #backleafs{
    background-position: right -10em top 55em;
    background-size: 60%;
  }
}

@media only screen and (min-width: 700px) {
  #backleafs{
    background-position: right -25em top 40em;
    background-size: 90%;
  }
}


@media only screen and (min-width: 1000px) {
  #backleafs{
    background-position: right -22em top 15em;
  }
}


@media only screen and (min-width: 1600px) {
  #backleafs{
    background-position: right -30em top 15em;
  }
}

@media only screen and (min-width: 1000px){
  .paragraph{
    margin-right: 20% !important;
  }
}

@media only screen and (min-width: 1400px){
  .paragraph{
    margin-right: 30% !important;
  }
}

body{
  font-family: 'Rajdhani', sans-serif !important;
}

div > #checkbox1-checkbox{
  color: white!important;
}

.hover2 {
  color: #6E7D84 !important;;
}
.roundli{
  padding-top: 1em;
  padding-bottom: 1em;
  border: 1px solid #DCE3E6;
  max-width: 100%
}
.greenonhover:hover{
  border: 1px solid #00A900;
}
[data-toggle="collapse"] .fa:before {
  content: "\f063";
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f061";
}

[data-toggle="collapse"] .card-header:before{
  background-color: white !important;
}

[data-toggle="collapse"].collapsed .card-header:before{
  background-color: #f1f5f8 !important;
}
@media only screen and (min-width: 200px) {
  .flowers34{
    z-index: -1;
    position: absolute;
    right: -10em;
    top: -17em;
  }
}

@media only screen and (min-width: 500px) {
  .flowers34{
    z-index: -1;
    position: absolute;
    right: -17em;
    top: -17em;
  }
}


@media only screen and (min-width: 1000px) {
  .flowers34{
    z-index: -1;
    position: absolute;
    right: -17em;
    top: -17em;
  }
}


@media only screen and (min-width: 1600px) {
  .flowers34{
    z-index: -1;
    position: absolute;
    right: -15em;
    top: -15em;
  }
}

@media only screen and (min-width: 200px) {
  .flowers33{
    z-index: -1;
    position: absolute;
    left: -8em;
    bottom: -6em;
  }
}

@media only screen and (min-width: 500px) {
  .flowers33{
    z-index: -1;
    position: absolute;
    left: -11em;
    bottom: -8em;
  }
}


@media only screen and (min-width: 1000px) {
  .flowers33{
    z-index: -1;
    position: absolute;
    left: -13em;
    bottom: -10em;
  }
}


@media only screen and (min-width: 1600px) {
  .flowers33{
    z-index: -1;
    position: absolute;
    left: -13em;
    bottom: -10em;
  }
}

@media only screen and (min-width: 1600px) {
  .buttonlefting{
    left: 20%
  }
}

@media only screen and (min-width: 200px) {
  .flowers333{
    position: absolute;
    left: -5em;
    bottom: -8em;
    width: 80%;

  }
}

@media only screen and (min-width: 500px) {
  .flowers333{
    position: absolute;
    left: -6em;
    bottom: -8em;
    width: 60%;

  }
}


@media only screen and (min-width: 700px) {
  .flowers333{
    position: absolute;
    left: -6em;
    bottom: -8em;
    width: 40%;

  }
}

@media only screen and (min-width: 1000px) {
  .flowers333{
    position: absolute;
    left: -6em;
    bottom: -8em;
    width: 30%;

  }
}


@media only screen and (min-width: 1290px) {
  .flowers333{
    position: absolute;
    left: -12em;
    bottom: -8em;
    width: 30%;

  }
}

@media only screen and (min-width: 200px) {
  .flowers344{
    position: absolute;
    right: -5em;
    top: -5em;
    width: 70%;

  }
}

@media only screen and (min-width: 500px) {
  .flowers344{
    position: absolute;
    right: -5em;
    top: -5em;
    width: 50%;

  }
}


@media only screen and (min-width: 700px) {
  .flowers344{
    position: absolute;
    right: -4em;
    top: -5em;
    width: 35%;

  }
}

@media only screen and (min-width: 1000px) {
  .flowers344{
    position: absolute;
    right: -5em;
    top: -5em;
    width: 30%;

  }
}


@media only screen and (min-width: 1290px) {
  .flowers344{
    position: absolute;
    right: -11em;
    top: -12em;
    width: 30%;

  }
}

@media only screen and (min-width: 200px) {
  .floweroferta {
    max-width: 40%;
  }
}

@media only screen and (min-width: 500px) {
  .floweroferta {
    max-width: 20%;
  }
}

@media only screen and (min-width: 1000px) {
  .floweroferta {
    max-width: 9%;
  }
}

@media only screen and (min-width: 400px) {
  .buttonflower{
    position:absolute;
    z-index:1;
    bottom: -2.5em;
    width: 30%;
    left: 20em;
  }
}
@media only screen and (min-width: 800px) {
  .buttonflower{
    position:absolute;
    z-index: 1;
    top: -5em;
    width: 25%;
    left: 30em;
  }
}
@media only screen and (min-width: 1000px) {
  .buttonflower{
    position:absolute;
    z-index: 1;
    top:-6em;
    left: 6em;
    width: 60%;
  }
}

@media only screen and (min-width: 1300px) {
  .buttonflower {
    position: absolute;
    z-index: 1;
    top: -7em;
    left: 7em;
    width: 60%; } }

.marginCenter{
  @media only screen and (min-width: 1300px) {
    margin-left: 5em;
    margin-right: 5em;
  }
}

.card-flip {

  background: none;
  border: none;
  padding: 0;

  .card {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .card:first-of-type {
    tranform: rotateY(0deg);
  }

  .card:last-of-type {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    display: flex;
  }

  &:hover {
    .card:first-of-type  {
      transform: rotateY(-180deg);
    }
    .card:last-of-type {
      transform: rotateY(0deg);
    }
  }
}

.pointer{
  cursor: pointer;
}

#login:hover{
  background-color: black !important;
  color: white !important;
}
.icon-on-hover:hover{
  background-color: white !important;
  opacity: 1 !important;
}

.icon-on-hover:hover path{
  fill: #00A900;
}

@media only screen and (min-width: 1300px) {
  .width-cards {
    width: 85% !important;
  }
}

@media only screen and (min-width: 1300px) {
  .stick-bottom {
    position: absolute !important;
    bottom: 0;
  }
}

.width-cost{
  width: 70%;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('./assets/fonts/Rajdhani-Bold.woff2') format('woff2'),
  url('Rajdhani-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('./assets/fonts/Rajdhani-Light.woff2') format('woff2'),
  url('Rajdhani-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('./assets/fonts/Rajdhani-Medium.woff2') format('woff2'),
  url('Rajdhani-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('./assets/fonts/Rajdhani-SemiBold.woff2') format('woff2'),
  url('Rajdhani-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('./assets/fonts/Rajdhani-Regular.woff2') format('woff2'),
  url('Rajdhani-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: 'Rajdhani', sans-serif;
}

.mlOnBigScreens {
  @media only screen and (min-width: 1300px) {
    margin-left: 6em !important;
  }
}
.wOnBigScreen {
  @media only screen and (min-width: 1300px) {
    width: 30% !important;
  }
}

.anim-img{
  transition: transform .4s ease;
}

.anim-img:hover{
  transform: scale(1.2);
}

@media only screen and (min-width: 1300px) {
  .change-width-lg{
    width: 75%;
  }
}


.roboto-font {
  font-family: 'Roboto', sans-serif!important;
}

.green-gradient-90{
  background: rgb(0,128,0);
  background: linear-gradient(90deg, rgba(0,128,0,1) 0%, rgba(0,169,0,1) 100%);
}

#sign:hover{
  background: rgb(0,128,0);
  background: linear-gradient(270deg, rgba(0,128,0,1) 0%, rgba(0,169,0,1) 100%);
}

.logo-min{
  @media only screen and (max-width: 1000px) {
    width: 50%
  }
}


.logo-container{
  @media screen and (min-width: 991px){
    width: 20%;
  }
  @media screen and (min-width: 1196px){
    width: 50%;
  }
}

.svg-hover-with-label:hover{
  path{
    fill: #00A900;
  }
  color: #00A900;
}
.svg-hover-with-label{
  fill:#818e94;
}

.fill-gradient-svg:hover{
  fill: url(#linear-gradient2);
  .fill-text{
    fill:white;
  }
  #border{
    display: none;
  }

}

.fill-text{
  fill: black;
}
.pointer{
  cursor: pointer;
}

.btn-width-custom{
  width: 100%;
  @media only screen and (min-width: 1000px) {
    width: 672px;
  }
}

.ul-without-padding{
  padding-left: 1.5em!important;
}
